*{
	padding: 0;
	margin: 0;
	font-family: 'Kaushan Script', cursive;
}

body{
	position: relative;
	z-index: -10;
	width: 100vw;
	height: 100vh;
	background: #854B5B 0 0/100% 100%;
	background-image: url('../../static/images/back1.png');
	overflow: hidden;
}


.cpt-header{
	margin-top: 20px;
	height: 45px;
	background-color: transparent;
}

.header-title{
	color: #7ec8e3;
	text-align: left;
	padding-left:50%;
}
.cpt-pgs{
	height: 21px;
	width: 95%;
	margin: 5px auto;
	background: #999DA0;
	cursor: pointer;
	border-radius: 25px;
}

.pgs-time{
	height: 21px;
	width: 0%;
	background: #2F5C5A;
	border-radius: 25px;
	color: #999da0;
	transition: width 0.1s linear;
}


.btn {
	height: 50px;
	cursor: pointer;
	margin: 10px auto;
	display: inline-block;
	outline: none;
	border: none;
	border-radius: 7px;
	font-size: 28px;
	color: #999da0;
	background: #152d2e;
	padding: 5px 15px;
	margin: 2px 7px;
	opacity: 0.5;
}

.holeP{
	width: 1200px;
	border: 1px solid black;
}

.playerDiv{
	z-index: 1;
	position: relative;
	width: 50%;
	margin: 15px auto;
	float: right;

}

.pCover{
	border-radius: 7px;
	position: relative;
	height: 600px;
	width: 750px;
	background:black 0 0/100% 100%;
	box-shadow: 2px -6px 27px 10px #0c2d48;
	transition: all 0.3s linear;
	opacity: 1;
}

.coverChange{
	opacity: 0.5;
}


.allBtn{
	position: absolute;
	bottom: 10px; left: 10px;
}
.pList{
	overflow: overlay;
	width: 500px;
	border-radius: 7px;
	z-index: -2;
	height: 550px; 
	margin-top: 50px;
	position: absolute;
	top: 0;left: 0;
	opacity: 0.9;

	transition: left 0.3s ease-out;

}

.slideShow{
	left: -150px;
}

.pList li{
	margin: 5px 5px;
	height: 50px;
	transition: all 0.3s linear;
	position: relative;
	left: 50px;

}

.pList ul{
	width: 300px;
}

.pList li:hover{
	background: #0152;
	cursor: pointer;
	height: 100px;
	transform: translateX(-45px);
}

.pList img:hover{
	transform: scale(1.2);
}
.albumPreset{
	display: none;
	position: absolute;
	width: 300px;
	height: 180px;
	left: -450px;
	border-radius: 7px;
}
.albumPreset::before{
	position: absolute;
	z-index: -1;
	filter: blur(7px);
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: red url('../../static/images/back1.png')  fixed 0 0/100% 100%;
}


.albumPreset p{
	font-size: 26px;
	margin: 5px;
}
.albumPreset p:nth-child(1){
	font-weight: 900;
}
.albumPreset p:nth-child(3){
	font-size: 18px;
}
.albumPreset p:nth-child(5){
	position: absolute;
	bottom: 15px;
	font-size: 24px;
}

.blurAlbum{
	position: absolute;
	height: 100px;
	width: 100px;
	border-radius: 7px;
	transition: all 0.3s linear;
}

hr{
	background: rgb(12, 45, 72);
    border: none;
    height: 2px;
}


.searchDiv{
	position: relative;
	margin-top: -40px;
	float: left;
	width: 35px;
	height: 30px;
	border:2px solid #7ec8e3;
	border-radius: 50%;
	margin-left: 50px;
	transition: all 0.2s linear;
	cursor: pointer;
}

#search{
	background: transparent;
	color:#7ec8e3;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	outline: none;
	border: none;
	bottom: 0px;
}
.searchOpen #search{
	background: transparent;
	border-radius: 7px;
	border: none;
	font-size: 28px;
	width: 270px;
}


.searchDiv::before{
	content: ' ';
	z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: transparent;
    border-radius: 50%;
}
.searchOpen::before{
	filter: none;
	border-radius: 7px;
	visibility: hidden;
    border: 2px solid #7ec8e3;
    height: 20px;
    width: 0;
    top: -20px;
    left: 270px;
    transition: all 0.2s linear;
    transform: rotate(45deg) translate(0,0) scaleY(0);
}
.getCross::before{
	visibility: visible;
	transform: rotate(45deg) translate(0,33px) scaleY(0.9);
}

.searchDiv::after{
	transition: all 0.2s linear;
	content: ' ';
    display: block;
    position: absolute;
    border: 2px solid #7ec8e3;
    border-radius: 26%;
    height: 20px;
    bottom: -16px;
    left: 102%;
    transform:rotate(-45deg) translate(0px,0px) scale(1);
}
.searchOpen::after{
	left: 270px;
	transform:rotate(-45deg) translate(0px,-10px) scaleY(0);
}
.getCross::after{
	transform:rotate(-45deg) translate(-3px,-30px) scaleY(0.9);
}
.searchOpen{
	width: 270px;
	border-radius: 7px;
}


.getCross{
	display: block;
}
.clickCross{
	z-index: 1;
	cursor: pointer;
	width: 30px;
    height: 33px;
    position: absolute;
    right: 4px;
    top: 1px;
    background: transparent;
}

.searchSuggest{
	min-height: 50px;
	transition: all 0.3s linear 0.2s;
	position: absolute;
	left: -400px;
	width: 400px;
	border-radius: 15px;
}

.searchSuggest::before{
	position: absolute;
	z-index: -1;
	filter: blur(7px);
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: red url('../../static/images/back1.png')  fixed 0 0/100% 100%;
}
.searchSuggest p{
	font-size: 24px;
	margin: 4px;
	transition: all 0.15s linear;
}
.searchSuggestShow{
	left: 65px;
}
.searchSuggestShow p{
	cursor: pointer;
	background: transparent;
}

.searchSuggestShow p:hover{
	background:#208CC2
}
.searchSuggestShow span{
	display: block;
}


.searchDetail{
	transform: translateY(8px);
	z-index: -3;
    width: 700px;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 45px;
    transition: all 0.5s linear;
}

.searchDetail::before{
	position: absolute;
	z-index: -1;
	filter: blur(7px);
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: red url('../../static/images/back1.png')  fixed 0 0/100% 100%;
}

.searchDetail-show{
	height: 700px;
}

.detailTab{
	width: 100%;
	position: absolute;
	top: 0px;
	border-radius: 7% 7% 0 0/4% 4% 0 0;
	height: 35px;
}

.detailTab li{
	padding: 2px 0 4px 0;
	font-size: 20px;
	text-align: center;
	background: #eee;
	width: 114px;
	margin: 5px 0px;
	float: left;
	list-style: none;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

.liChoosen{
	background: transparent !important;
	border: 1px solid transparent !important;
}

.detailSolo{
	position: absolute;
	top: 50px;
	width: 100%;
	min-height: 50px;
}

.detailSolo p{
	cursor: pointer;
	font-size: 24px;
	margin: 18px 15px;
}
.detailSolo p:hover{
	border:1px dotted #208CC2;
}

.blurImg{
	position: absolute;
	width: 150px;
	height: 150px;
	visibility: hidden;
	border-radius: 7%;
	right: 45px;
	background-size: 100% 100% !important;
}
.blurImg-show{
	visibility: visible;
}